<div class="">
  <div class="">
  </div>

  <form class="px-3 py-3">
    <label for="comment" class="">Comment</label>
    <br>
    <textarea type="text" name="comment" id="comment" placeholder="" class="" value=""></textarea>
    
    <div class="py-2">
      <button id="newCommmentSubmit" class="">Submit</button>
    </div>
  </form>
</div>

<script src="/js/userComment.js"></script>