<a href="/get-single-post/{{post_id}}/deleteUpdate">

  <div class="">

    <div class="">
        <h2 class="">{{title}}</h2>
    </div>

  <div class="">
    <div>
      <p>{{description}}</p>
    </div>
  </div>
</div>

</a>











