<div class="">
  <div class="">
    <div class="">
        <h2 class="">Edit Post</h2>
    </div>
  </div>

  <form class="">
    <label for="title" class="">Title</label>
    <br>
      <input type="text" name="title" id="title" placeholder="" class="b" value="">
      <label for="content" class="text-emerald-700">Content</label>
    <br>
      <input type="text" name="description" id="description" placeholder="" class="" value="">
    
    <div class="py-2">
      <button id="edit-post" class="">Edit</button>
      <button id="delete-btn" class="">Delete</button>
    </div>
  </form>

<script src="/js/editpost.js"></script>
</div>
<script src="/js/deletepost.js"></script>
