<div class="">
  <div class="">
    <div class="">
      <h2 class="">Create New Post</h2>      
    </div>        

    <div class="">
      <form>
          <label for="title" class="">Title</label>
          <br>
          <input type="text" name="title" id="title" placeholder="" class="" value="">
          <label for="content" class="">Content</label>
          <br>
          <textarea type="text" name="content" id="description" placeholder="" class="" value=""></textarea>
          <div class="py-1">
            <button id="newPost" class="">Create</button>             
          </div>
      </form>
    </div>    
  </div>

  <div class="text-center mt-6">
    <a href="/create-new-post" class="">+New Post</a>
  </div>
  
</div>

<script src="/js/newPost.js"></script>
