<div class="">
  <div class="">
    <div class="">
      <h2 class="">Login</h2>
    </div>        
    <div class="">
      <form>
          <label for="username" class=" ">Username</label>
          <br>
          <input type="text" name="username" id="username" placeholder="Your Username" class="" value="">
          <label for="password" class="">Password</label>
          <br>
          <input name="password" id="password" placeholder="Choose a password" class="" value="">
          <div class="">
            <button class="" id="login">Login</button>
            <a href="/signup" class="">Sign up instead</a>
          </div>
      </form>
    </div>
  </div>
</div>
<script src="/js/userlogin.js"></script>