<div class="">
  <div class="">
    <div class="">
      <h2 class="">Sign Up</h2>
    </div>        
    <div class="">
      <form>
          <label for="username" class="">Username</label>
          <br>
          <input type="text" name="username" id="username" placeholder="Your Username" class="" value="">
          <label for="password" class="t">Password</label>
          <br>
          <input type="password" name="password" id="password" placeholder="Choose a password" class="" value="">
          <div class="signup">
            <button id="newUserSubmit" class="">Sign Up!</button>
            <a href="/login" class="">Login instead</a>
          </div>
      </form>
    </div>
  </div>
</div>

<script src="/js/userSignup.js"></script>



